# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.pyc
# Ignore Python bytecode cache files
__pycache__/
*.py[cod]


# Ignore virtual environment directories
env/